.InputTitleWrap {
  color: #000;

  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.InputContent {
  width: 70vw;
  height: 13vh;

  border-radius: 20px;
  border: 1px solid var(--Main400, #f8cf41);
  background: var(--Main50, #fffefc);
  outline: none;
}

.Category {
  display: inline-flex;
  padding: 10px var(--Largee, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 3vw;
  margin-top: 1vh;
  border-radius: var(--Large, 20px);
  background: var(--Main500, #ffd917);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.SelectCategory {
  cursor: pointer;
  display: inline-flex;
  padding: 10px var(--Largee, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 3vw;
  margin-top: 1vh;
  border-radius: var(--Large, 20px);
  background: #ffc061;
  -webkit-tap-highlight-color: transparent;
}

.UploadFileName {
  display: inline-block;
  height: calc(100vh - 95vh);
  width: 17%;
  padding: 0 15px;
  border: 1px solid #ffd917;
  border-radius: 12px;
  outline: none;

  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.UploadFileName:focus {
  outline: none;
}

.InputFileButton {
  display: flex;
  width: calc(100vw - 94vw);
  height: calc(100vh - 95vh);
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  margin-bottom: 1vh;
  margin-right: 10px;
  cursor: pointer;

  color: #000;

  /* Caption */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border: none;
  border-radius: var(--Large, 12px);
  background: var(--Main500, #fece23);
}

.ViewImageWrap {
  width: calc(100vw - 90vw);
  height: calc(100vh - 90vh);

  display: flex;
  flex-direction: column;
}

.CancleButton {
  display: flex;
  width: calc(100vw - 91vw);
  height: calc(100vh - 95vh);
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  padding: var(--Large, 12px);

  flex-shrink: 0;

  background: var(--Red200, #ffe8e8);
  border: none;
  border-radius: 10px;
  color: var(--Red500, #f90707);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
