.WriteReadDetail {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.WriteReadDetailWrap {
  width: 85vw;
  height: calc(100% - 10vh);
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}

.WriteReadDetailBox {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.MyPostNotifyWrap {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.MyNotifyInfoWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.MyProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.MyInfoWrap {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 0px 10px;
}

.MyName {
  color: var(--Gray700, #333);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.MyNotifyDate {
  color: var(--Gray500, #aaa);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.MyNotifyTitleWrap {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.MyNotifyTitle {
  color: var(--Main900, #020202);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.MyNotifyImgWrap {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.MyNotifyContentWrap {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.MyNotifyContent {
  color: var(--Main900, #020202);
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.MyNotifyEmoticonWrap {
  width: 95%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #f4f5f9;
  margin-bottom: 40px;
}

.MyNotifyEmoticonBox {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.EmoticonBox {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Emoticon {
  color: #000;
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px;
}

.EmoticonCnt {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.WriteReadDetailComment {
  width: 40%;
  height: calc(100% - 10vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.MyPostCommentWrap {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.MyPostComment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.MyPostReplyComment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 0 40px 55px;
}

.CommentInfoWrap {
  width: 12%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.CommentProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.CommentContentWrap {
  display: flex;
  flex-direction: column;
}

.CommentName {
  color: var(--Gray700, #333);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.CommentContent {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}

.CommentWrap {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.CommentDate {
  color: var(--Gray500, #aaa);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 15px;
}

.ReplyCommentWrite {
  color: var(--Gray500, #aaa);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
