.custom-modal {
  width: 30vw;
  border: none;

  margin-right: 33vw;
}

.modal-content {
  border: none;
  box-shadow: none;
  width: 25vw;
  display: flex;
  height: 300px;
  /* padding: 24px 27px; */
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: #000;
  text-align: center;

  /* Subtitle */
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 2vh;
}

.modal-body {
  border-bottom: none;

  color: var(--Gray500, #aaa);
  text-align: center;
  font-family: Pretendard;
  font-size: 1.3rem;

  flex-wrap: wrap;

  max-width: 21vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 3vh;
}

.modal-footer {
  border-top: none;
}

.cancle-button {
  color: #aaa;

  /* Label */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 3vw;
  height: 4vh;
  border-radius: var(--Large, 12px);
  background: var(--Gray100, #f4f5f9);
  border: none;
}

.cancle-button:hover {
  color: #aaa;

  /* Label */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 3vw;
  height: 4vh;

  border-radius: var(--Large, 12px);
  background: var(--Gray100, #f4f5f9);
  border: none;
}

.delete-button {
  display: flex;
  width: 73px;
  height: 40px;
  justify-content: center;
  align-items: center;

  border-radius: var(--Large, 12px);
  background: var(--Red200, #ffe8e8);

  border: none;

  color: var(--Red500, #f90707);

  /* Label */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.delete-button:hover {
  display: flex;
  width: 73px;
  height: 40px;
  justify-content: center;
  align-items: center;

  border-radius: var(--Large, 12px);
  background: var(--Red200, #ffe8e8);

  border: none;

  color: var(--Red500, #f90707);

  /* Label */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
