.LoginPage {
  width: 100%;
  height: 85vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LoginBox {
  width: 873px;
  height: 471px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.AlimoImage {
  margin-top: 200px;
}

.LoginWrap {
  width: 442px;
  height: 444px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.LogoWrap {
  width: 100%;
  height: 40%;

  display: flex !important;
  flex-direction: column !important;
}

.Logo {
  height: 40%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.Logo-Alimo {
  color: var(--Main900, #020202);
  font-family: Pretendard;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Logo-Dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--Main500, #ffd917);
}

.Logo-Admin {
  color: var(--Gray500, #aaa);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 10px;
}

.Logo-Text {
  color: var(--Main900, #020202);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 25%;
}

.LoginInputWrap {
  width: 442px;
  height: 136px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.IdWrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.Login-Id {
  width: 410px;
  height: 20px;
  outline: none;
  border-radius: var(--Large, 12px);
  border: 1px solid var(--Gray300, #e6e6e6);
  background: var(--White, #fff);

  padding: 18px 16px;
}

.Login-Id::placeholder {
  color: var(--Gray500, #aaa);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Login-Id-Btn {
  all: unset;
  cursor: pointer;
  position: absolute;

  top: 16px;
  right: 10px;
}

.PasswordWrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.Login-Password {
  width: 410px;
  height: 20px;
  outline: none;
  border-radius: var(--Large, 12px);
  border: 1px solid var(--Gray300, #e6e6e6);
  background: var(--White, #fff);

  padding: 18px 16px;
}

.Login-Password::placeholder {
  color: var(--Gray500, #aaa);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Login-Password-Btn {
  all: unset;
  cursor: pointer;
  position: absolute;

  top: 16px;
  right: 10px;
}

.LoginBtnWrap {
  width: 442px;
  height: 52px;
}

.Login-Btn {
  width: 100%;
  height: 52px;
  color: var(--Main50, #fffefc);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: var(--Large, 12px);
  background: var(--Main500, #ffd917);
}

.Made-By-B1nd {
  width: 100%;
  height: 10vh;
  color: var(--Gray500, #aaa);
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
