.SideBar-LogoWrap {
  display: flex;
  flex-direction: row;

  /* margin: 0 auto; */

  height: calc(100vh - 90vh);

  cursor: pointer;
}

.SideBar-Logo-Alimo {
  color: var(--Main900, #020202);
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: calc(100vw - 97vw);
  margin-top: calc(100vh - 97vh);
}

.SideBar-Logo-Admin {
  color: var(--Gray500, #aaa);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 1%;
  margin-top: calc(100vh - 95vh);
}

.ProfileImage {
  width: calc(100vw - 97vw);
  height: calc(100vh - 95vh);
  border-radius: 100%;

  margin-left: calc(100vw - 98vw);
  margin-top: calc(100vh - 99vh);
}

.UserName {
  color: var(--Main900, #020202);
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  align-items: flex-end;
  align-self: center;
  margin-left: calc(100vw - 99vw);
  margin-bottom: calc(100vh - 99vh);
}
